/.git/
/tmp/

/bin/
/build/
/examples/

/deps/out
/deps/abseil-cpp/build/
/deps/libuv/build/
/deps/nghttp2/build/
/deps/json/benchmarks/
/deps/json/test/

/worker/golang/build/
/worker/nodejs/build/
/worker/nodejs/node_modules/
/worker/python/build/
/worker/python/faas/_faas_native.*.so
/worker/python/faas/__pycache__/
